.form_block {
    margin: 20px auto;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  #form {
    display: flex;
    flex-direction: column;
  }
  label {
    display: block;
    margin-bottom: 5px;
  }
  #email {
    width: 93%;
    padding: 8px;
    margin-bottom: 10px;
  }
  #name {
    width: 93%;
    padding: 8px;
    margin-bottom: 10px;
  }
  #submit_button {
    padding: 10px 0px;
    background-color: #196150;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  #submit_button:hover {
    background-color: #A3D1C6;
  }